body {
  background-color: #d4f7f0;
}

#title {
  color: #224153;
}

#login {
  height: 180px;
  width: 280px;
  text-align: right;
  padding: 10px;
}

#FL-Container {
  width: 1000px;
  padding: 5px;
  margin: 20px auto;
}

.FL-col1 {
  width: 200px;
  float: left;
  padding: 5px 15px;
}


.aligning{
  text-align: center;
}

.list {
  padding: 30px;
}

.is-table-row {
  display: table;
  float: left;
}

.is-table-row [class*="col-"] {
  float: none;
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.popular-item {
  text-align: center;
  min-width: 100px;
}

.product-details {
  text-align: left;
}

.text-link {
  cursor: pointer;
}

.button-name {
  margin-left: 20px;
}

.button-save {
  margin-left: 20px;
}

.list-tools {
  margin-bottom: 20px;
}
.selectBox {
  display: block;
  font-size: 16px;
}
