#login {
  height: 180px;
  width: 280px;
  text-align: right;
  padding: 10px;
}

#FL-Container {
  width: 1000px;
  padding: 5px;
  margin: 20px auto;
}

.FL-col1 {
  width: 200px;
  float: left;
  padding: 5px 15px;
}


.aligning{
  text-align: center;
}

.list {
  padding: 30px;
}

.popular-item {
  padding-left: 50px;
  text-align: center;
}

.text-link {
  cursor: pointer;
}

.button-name {
  margin-left: 20px;
}

.button-save {
  margin-left: 20px;
}

.list-tools {
  margin-bottom: 20px;
}
